*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
    color: #293264;
}

/* INITIAL SCREEN */

.initial-container {
    text-align: center;
    min-height: 100vh;
    padding-top: 35vh;
}

.app-title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.initial-container p {
    margin-bottom: 1.5rem;
}


/* BUTTONS */

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 1rem 2rem;
    background-color: #4D5B9E;
    border: none;
    border-radius: 10px;
    color: #F5F7FB;
}

.check-btn {
    font-weight: 600;
    font-size: 0.7rem;
}

/* QUESTIONS SCREEN */
.questions-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 0;
}

.check-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 0.5em;
}

.check-text {
    font-size: 0.8rem;
    text-align: center;
    font-weight: 700;
}

/* SINGLE QUESTION */
.question-container {
    padding: 1rem 0;
    border-bottom: 1px solid #DBDEF0;
}

.question-title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    margin-bottom: 0.6em;
    font-size: 1rem;
}

/* OPTIONS */
.options-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.options-container span {
    padding: 0.5em 1em;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 0.7rem;
}

/* LOADING */
.loading-text {
    text-align: center;
    margin-top: 45vh;
    font-size: 2rem;
}

/* HOVER */
.options-container span:hover,
.btn:hover {
    cursor: pointer;
}

@media (min-width: 500px) {

    .options-container span,
    .check-btn,
    .check-text {
        font-size: 1rem;
    }
    .question-title {
        font-size: 1.125rem;
    }
}

@media (min-width: 700px) {

    .options-container span,
    .check-btn,
    .check-text {
        font-size: 1.125rem;
    }
    .question-title {
        font-size: 1.25rem;
    }
}